.row
  .col-md-3
    = form_for @host do |f|
      .form-group
        = f.label :data_source
        = f.collection_select :data_source_id, DataSource.all, :id, :name, {}, { class: "form-control" }
      = f.submit 'Move', class: "btn btn-danger"
