.row
  .col-md-3
    = form_for @finding do |f|
      .form-group
        = f.label :host
        = f.collection_select :host_id, Host.all, :id, :ip, {}, { class: "form-control" }
      = f.submit 'Move', class: "btn btn-danger"
