%h1 Listing screen_captures

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @screen_captures.each do |screen_capture|
      %tr
        %td= link_to 'Show', screen_capture
        %td= link_to 'Edit', edit_screen_capture_path(screen_capture)
        %td= link_to 'Destroy', screen_capture, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Screen capture', new_screen_capture_path
